#{$ChoiceGroup} {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $spacing-8;
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;

  &--disabled {
    border-color: $neutral-70;
  }

  &__legend {
    color: $neutral-100;
    padding: 0;

    &--hidden {
      display: none;
    }


    #{$ChoiceGroup}--disabled & {
      color: $neutral-70;
    }

  }

  &__options {
    display: flex;
    flex-direction: column;
    gap: $spacing-8;
    width: 100%;
  }
}
