#{$DetailPageLayout} {
  display: flex;
  width: 100%;
  flex-direction: column;

  &__container {
    display: flex;
    align-items: flex-start;
    gap: $spacing-6;
    height: 100%;
    width: 100%;
    position: relative;
    background-color: $white;
    overflow-x: clip;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;
    align-items: flex-start;
    gap: $spacing-32;
    padding: 0 $spacing-16;

    @include breakpoint(tablet-large) {
      padding: 0;
    }

    @include breakpoint(desktop) {
      width: 66%;
      gap: 3.5rem;
    }
  }

  &__side-wrapper {
    display: none;

    @include breakpoint(desktop) {
      display: flex;
      width: 33%;
      max-width: 25.12rem;
    }

    @media (min-width: 1024px) and (max-width: 1220px) {
      max-width: 20rem;
    }
  }

  &__side-rail {
    display: none;

    @include breakpoint(desktop) {
      display: flex;
      position: fixed;
      align-self: flex-start;
      width: 100%;
      max-width: 25.12rem;
      right: 0;
      top: var(--header-height, 5rem);
      height: var(--sidebar-height, calc(100% - 5rem));
    }

    @media (min-width: 1024px) and (max-width: 1220px) {
      max-width: 20rem;
    }
  }
}
