#{$ClosingQuestion} {
  display: flex;
  flex-direction: column;
  gap: $spacing-20;
  width: 100%;
  max-width: 37.2rem;
  padding-bottom: 3.5rem;

  @media print {
    padding: $spacing-16 0;
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: $spacing-14;
  }

  &__title {
    @include headline-xsmall;
    margin: 0;

    @include breakpoint(tablet-large) {
      @include headline-small;
    }
  }

  &__description {
    @include body-default;
    margin: 0;
  }

  &__question {
    display: flex;
    align-items: center;
    gap: $spacing-8;
  }

  &__icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    flex-shrink: 0;
  }

  &__question-text {
    @include title-medium;
    min-width: 0;
    overflow-wrap: break-word;
  }
}
